ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    place-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: goldenrod;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

body {
    background: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background: rgb(19, 2, 2);
    height: 2rem;
    padding: 0.5rem;
}

li {
    list-style: none;
    color: whitesmoke;
    cursor: pointer;
}

li:hover {
    color: goldenrod;
}

.container {
    display: grid;
    min-height: calc(100vh - 2rem);
    place-items: center;
    background: ghostwhite;
}

img {
    display: block;
    width: 100%;
    max-width: 45rem;
    max-height: 30rem;
}

header h1 {
    text-transform: capitalize;
    font-size: 6rem;
    color: rgb(78, 80, 82);
    text-align: center;
}

h1 {
    color: rgb(78, 80, 82);
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
    color: rgb(78, 80, 82);
}

.error {
    color: red;
}

.form-control {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 30px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="textarea"],
textarea,
select {
    display: block;
    padding: 6px 12px;
    width: 250px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(146, 57, 57);
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(219, 215, 215);
}

.btn {
    color: white;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
}

.footer {
    padding: 2rem;
    background: rgb(19, 2, 2);
    display: grid;
    width: 100%;
    place-items: center;
}

.footer .social-icons {
    margin-bottom: 2rem;
}

.footer .social-icon {
    color: var(--clr-primary-5);
}

.footer .social-icon:hover {
    color: var(--clr-primary-10);
}

.footer p {
    font-size: 1.25rem;
    text-transform: capitalize;
    color: aliceblue;
}